 #footer, #header, #nav, #content{
	display: block;
}
.html{
	background-color: #3aa9fe;
}

/*---------------------------RESET FLOAT----------------------*/


/*---------CSS PER JAVASCRIPT-----------*/
#err_login {
	color:#b10c00;
}
#err_proponi {
	color:#b10c00;
}
#err_commento {
    color:#b10c00;
    
}


/*--------------------------------------*/

a, body, div, form, 
h1, h2, h3, header, html,
i, img,
label, li, 
nav,
 ul{
    background: transparent;
    border: 0 none;
    font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
    vertical-align: top;}

 ul {
	list-style: none;
}
img {
	vertical-align:top;
	width:100%;
}
.contenitore h1 {
	text-align: center;
}

a{
	color: #343434;

}
p {
	padding-bottom:1.125em;
	padding-left:0.4em;
	font-size: 100%;
}



/* Contenitori
----------------------------------------------------------------------------------------------------*/
.contenitore {
	margin-left: auto;
	margin-right: auto;
	width: 60em;
}

/* Griglie
----------------------------------------------------------------------------------------------------*/

.blocco1,
.blocco2{
	
	float: left;
	position: relative;
	margin-left: 0.625em;
	margin-right: 0.625em;
}

/*----------------------------------------------------------------------------------------------------*/



.contenitore .blocco1 {
	width:18.750em;
}

.contenitore .blocco2 .lista-menu{
	width:58.750em;
}
.contenitore .blocco2{
	width:38em;
}


/*==========regole accessibilità================*/
a.salta-main {

left:-999px;
position:absolute;
top:auto;
width:1px;
height:1px;
overflow:hidden;
z-index:-999;
}
a.salta-main:focus, a.salta-main:active {
left: auto;
top: 5em;
width: 30%;
height: auto;
overflow:auto;
margin: 10px 35%;
padding:5px;
border-radius: 15px;
text-align:center;
font-size:1.2em;
z-index:999;
}

/*=========proprietà globali==================== */
body {	
	font-family: verdana,serif, helvetica;
	font-size:0.875em;
	line-height:1.500em;
	width:100%;
	margin:auto;
	background-color:#3aa9fe;
	background-repeat: repeat;

}




a {
	color:black;
	font-size: 1.2em;
	
	
}

a:visited {
	color:#600060;
}


h1,h2,h3{
	font-family: 'PT Serif Caption', serif;
	font-weight:normal;
	font-size:2.188em;
	line-height:2.375em;	
	text-shadow:0 0.063em 0.125em #c5c2a9;
} 

h2 span{color:#003f80;
	display:block;
	margin-bottom:0.563em;
	height:1em;}

h2 strong{font-weight:normal;color:#003f80;}	
h3,h2 em{
font-size:1.250em;
line-height:1.500em;
display:block;
font-style:normal;}	
	


/*===========struttura globale============== */


.main {
	margin: 0 auto;
	position: relative;
	width: 70.750em;}


/* Header */


#header {	
	padding:0;
	position: relative;
	z-index:99;
	background-color: #3aa9fe;


}

.intestazione{padding:1.313em 0 0}
/* Content */

#content {
	position:relative;
	background-color: #b5defd;

}


#banner h1 {
	font-family:"DJB Holly Jolly B'Golly";
	font-size:2.7em;
}
#banner a{
	
	text-decoration: none;
	font-size:1em;
}
#banner a:visited {
	color:black;
}

#banner {

	float:left;
}


.allinea {
	clear:left;
}

/*===== menu =====*/
#breadcrumb{
	
	height:3em;
}
#breadcrumb a:visited{
	color:#600060;
}


.header-menu{
position: relative;
color: #FFCC33;
float: left;
margin-top:0.9em;
margin-left:0.5em;
}

.header-menu{
width: 70%;
}

#nav>a{
position: relative;
display: inline-block;
font-size: 0.9em;
line-height: 40px;
margin-top:1em;
padding: 0 1em;
border-radius:1em;
box-shadow:0 0 0.188em #c5c2a9;
}


#nav a {
	background-color: #eee6d8;
}

#nav a:visited {
	color:black;
}
#nav a{
	text-decoration: none;
}
#nav a:hover {
	background-color: white;
}

#nav .active {
	background-color: white;
}

/*===== content =====*/

#content{
	padding:0 0 2.750em;

}

#num-pers{
	font-size:1.5em;
	margin-bottom:1em;

}

.thumbnail{margin-bottom:1.125em}
.box-img{
	padding:0.625em;
	background:#fff;
    border-radius:1em;
	box-shadow:0 0 0.188em #c5c2a9;
	display:inline-block;
	margin-bottom:1.250em;
	max-width:30em;
	}

.lista-menu .box-img img{	
	border-radius:0.438em;
	width:100%;
	min-height:200px;
	min-width: 200px;
	max-width: 500px;
	max-height:500px;
}
.info {
	width:auto;
}
.blocco1 a{
	text-decoration: underline;
	display: block;
}
 .blocco1 a:visited {
	color:#600060;
}


.lista-menu{overflow:hidden;margin-left:-1.563em;padding-top:1.563em;}
.lista-menu li{float:left;width:15.875em;padding-left:2em;}
.lista-menu a{
	color:#343434;
	font-size:1.250em;
	line-height:1.5em;}
.lista-menu a:visited{color:#600060;}
.lista-menu a{
	text-decoration: underline;
	display: block;
}

.list-recipes-pres p{
display:inline;}
.list-recipes-pres li{
margin-bottom:2em;
}

.link{
text-decoration:none;
}

.list-recipes p{
display:inline;
}
.list-recipes li{
margin-bottom:2em;
}


.list-commenti p{
display:inline;
}
.list-commenti li{
margin-bottom:2em;
}




.side-bar{
width:17.5em;
float:left;
padding-left:1em;
background: #F8F8FF;
border-radius:1.125em;
}	
.sottomenu{
    
    margin:1.563em 0em 3.750em;
    
}
.sottomenu a{
    color: #003F80;
    font-size:1.0em;
}
.sottomenu a:hover{
	text-decoration: underline;
}

.sottomenu a:visited{color:#600060;}
.sottomenu div {
    float:left;
    width:33%;
    padding:0.188em 0.438em;
    margin-left:0.7em;
}
.elenco-categorie{
width:auto;
float:left;
margin:1.250em  0 -1.875em;
padding:0 0.625em 0.438em 2.5em;
background:#fff;
border-radius:1.125em;
}
	

.list li {
	background:url(../images/marker-1.blue.png) no-repeat 0.438em 0.625em;
	padding:0 0 0 1.250em;
	display:block;
	line-height:1.5em;
}


/*----- buttons-----*/

.button {
	display:inline-block;
	padding:0.5em 1em;
}

.buttons {
	float:left;
	position:relative;
}


/*----- forms -----*/

.box-contact{
	background:white;
	width:44.750em;
	margin:2.750em auto 1.750em;
	padding:0 2.5em 3.188em;
    border-radius:1.125em;
	box-shadow:0 0 0.188em #c5c2a9;

}
.search-box{
background: white;
width: auto;
margin: 2.750em auto 1.750em;
padding: 2.5em 2.5em 3.188em;
border-radius: 1.125em;
box-shadow: 0 0 0.188em #c5c2a9;
}
#nav #tfsearch {
	background-color:#eee6d8;
}

#tfsearch{
position: relative;
display: inline-block;
font-size: 0.9em;
line-height: 40px;
margin-top:1em;
padding: 0 1em;
border-radius:1em;
box-shadow:0 0 0.188em #c5c2a9;

}
.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		width:11em;

	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-size:14px;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		border-radius:1em;
		box-shadow:0 0 0.188em #c5c2a9;
		background: #0095cd;

	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
	}



.Td {clear:both;height:auto;}
.td {height:auto;width:auto;display:inline-block;padding-right:1em;}
.Td label {
  max-width: 4.375em;
  position: relative;
  margin: 0;
  overflow: hidden;
  display: inline;
  float: left;
  width: 100%;
}
.box-contact .button
{

margin-top: 2.125em;
width: 200px;
padding-left: 4.5em;
}
#contact-form {
  position: relative;
  vertical-align: top;
  z-index: 1;
  margin: 0;
  padding: 0;
}
#contact-form #fieldset {
  border: none;
  padding-top: 2em;
  width: 100%;
  overflow: hidden;
}
#contact-form label {
  min-height: 3.375em;
  min-width:7em;
  position: relative;
  margin: 0;
  overflow: hidden;
  display: block;
  float: left;
  width: 100%;
}
#contact-form input,
#contact-form textarea {
  margin: 0;
  display: block;
  line-height: 1.5em;
  color: #343434;
  background: #e8e7de;
  width: 94%;
  border: 0.063em solid #d1cfbd;
  box-shadow: none;
  float: left;
}
#contact-form input {
  height: 2.4em;
}
#contact-form textarea { 
  height: 18.5em;
  resize: none;
  overflow: auto;
}

.form-txt{padding-bottom:0.125em;padding-top: 1em;}
#contact-form  select {
width: 5em;
height: 2.5em;
}
.button-ricetta{overflow:hidden;}
.button a{float:left;margin-right:3.750em}


/*===== footer =====*/

#footer {
	position:relative;
	padding:1.938em 0 1.250em;
	background-color: #3aa9fe;


}
.informazioni {
text-align:center;
}
#footer #inline p{
	text-align: center;
	padding-left: 0;
}

#inline img{
border:0;
width:88px;
height:31px;
}



/*-----------media-query------------*/

@media (max-width: 990px)  {

/*---------------HEADER-------------*/
	#header {	
	padding:0;
	position: relative;
	height:auto;
	}
	.main {
	width:auto;
	}
    
	.header-menu {
		text-align: center;
		width:100%;
		margin-left: 0;
	}
	#banner {
	width:100%;
	text-align:center;
	}
	#content .main {
	margin: 0 auto;
	position: relative;
	width: auto;
	height:auto;
	}
	#footer .main {
	margin: 0 auto;
	position: relative;
	width: auto;
	height:auto;
	}
	#content {
    padding: 0 0 0.750em;
	}


	.intestazione{padding:1.313em 0 0;height:auto;}



	#nav {
		display:block;
		margin-top:0.9em;

	}

	#breadcrumb{
	height:auto;
	width:auto;
	padding-left: 0.8em;
}
/*---------------------------------------*/

/*--------------CONTENT--------------*/

.lista-menu li{

width:auto;
}

.contenitore .blocco1 {
	clear:both;
	display:block;
	width:auto;
}

.contenitore .blocco2 .lista-menu {
    width: auto;
}
.contenitore {
	width:auto;
}
.lista-menu .box-img{
	width:auto;
	float:left;
	}

.box-contact{
	
	background:#fff;
    max-width:30em;
	margin:1.750em auto 1.750em;
	padding:0 1.5em 1.188em;
	background:#fff;
    border-radius:1.125em;
	box-shadow:0 0 0.188em #c5c2a9;

}
.box-contact .button
{

margin-top: 2.125em;
width: 200px;
    padding-left: 0;
}
.buttons{
	float:left;
	width:10em;
	position: relative;
	padding-top:1em;
}



.contenitore .blocco2{
	clear:left;
	width:auto;
}

.side-bar{
width:19.5em;
 vertical-align: middle;
 margin-top:3em;
margin-left:1.5em;

}


.elenco-categorie{
margin:1.250em 0 0;

}
/*----------FOOTER-----------*/
#footer #inline p{
	text-align: center;
	padding-left: 0;
}
/*---------------------------------*/
}
@media (min-width:330px) and (max-width: 500px) {

.lista-menu li {
    float: left;
    width: auto;
}
.lista-menu .box-img {
	width:90%;
}

.contenitore .blocco1 {
    clear: both;
    display: block;
    width: auto;
}
#banner {
text-align: center;
width:100%;
}
#nav{
overflow: hidden;
}
#nav>a{
padding: 0 1em;
display: block;
border-bottom: solid 1px rgba(255,255,255,.1);

}
.header-menu{
width: 100%;
text-align: center;
}
.box-contact{	
	width:auto;
	margin-left: 1.5em;
	margin-right:1.5em;
}
}

@media (max-width: 330px) {

/*--------HEADER-------*/

#header{
	height:auto;
}

.intestazione {
	height:auto;
}
#banner {
	width:100%;
}
.tftextinput{
	float:left;
	margin-top:0.3em;
}

#nav{
overflow: hidden;
}
#nav>a{
padding: 0 1em;
display: block;
border-bottom: solid 1px rgba(255,255,255,.1);

}
.header-menu{
width: 100%;
text-align: center;
margin:0;
}

#breadcrumb {
    height: auto;
    padding-left: 0;
}
/*-----CONTENT------*/
.lista-menu {
	padding-left:0;
}
.lista-menu a{
	display:block;
	width: 10em;
}
.blocco1.thumbnail {
	clear:both;
	display:block;
	width:19em;
	padding-left:0;
}
.contenitore .blocco2 {
	width:auto;
}
.contenitore .blocco1{
	width:auto;
}
.contenitore .side-bar{
	max-width:17em;
}
.box-contact{
	
	max-width:15.750em;
	margin-left: 0.8em;
}
.lista-menu .box-img{
	width:auto;
	}
.list-recipes-pres p{
display:block;
padding-bottom:0;
}
.list-recipes p{
display:block;
padding-bottom:0;
}
.list-commenti p{
display:block;
padding-bottom:0;
}
.info {

	max-width:17em;
	margin-left: 2em;
}

.elenco-categorie{
margin:1.25em 0 0;

}
/*---------FOOTER-------*/
#footer #inline p{
	text-align: center;
	padding-left: 0;
}


}
